@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:ital,wght@0,300;0,600;0,700;0,800;1,300&family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:ital,wght@0,300;0,600;0,700;0,800;1,300&family=Roboto:wght@400;500&family=Rubik:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background: #111623;
  font-family: "Roboto";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #18223e;
}

::-webkit-scrollbar-thumb {
  background-color: #1e182e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #18223e;
}
@media (min-width: 1024px) {
  .project-box:hover {
    background: #1c213165;
    border-radius: 7px;
    box-shadow: 0 0 10px cyan;
  }
}

/* button effect */
.shadow__btn {
  padding: 10px 15px;
  border: none;
  font-size: 10px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: none;
  box-shadow: 0 0 10px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 15px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}
